
.bg-image {
  background-image: url("../../assets/image/home-page2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 650px;
  width: 100%;
}
.overlay {
  position: relative;
  width: 100%; 
  height: 100%;
  top: 0; 
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.644);
  z-index: 2
}

.overlay-text {
  font-size: 44px;
  color: #fff;
  font-weight: bolder;
  text-shadow: 0 0 #ccc;
  line-height: 40px
}
.text-wrap {
  margin-top: 250px;
}
@media only screen and (max-width: 600px) {
  .text-wrap {
    margin-top: 100px;
  }
}
@media only screen and (max-width: 600px) {
  .text-wrap .overlay-text {
    font-size: 30px;
  }
}
.mission {
  color: #fff;
}
.text-wrap > Link {
  background: #00ff00;
}
.section-title h2{
  font-size: 38px;
  text-transform: capitalize;
  padding-bottom: 12px;
  position: relative;
  margin-bottom: 18px;
}
.features {
  padding: 15px;
}
.features h3 {
  font-size: 20px;
  margin: 15px 0;
  font-weight: bold;
}
.claim-bg {
  background-image: url("../../assets/image/home-page3.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  width: 100%;
}
.enroll-form {
  margin-top: 30px;
  text-align: left;
  background: #fff;
  border-radius: 5px;
}
.form-heading {
  background: green;
  width: 100%;
  padding-left: 20px !important; 
  padding: 10px !important; 
  padding-bottom: 10px !important;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  color: #fff;
}
.enroll-form label {
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 5px;
}
.enroll-form input {
  width: 100%;
  height: 40px;
  color: #999999;
  box-shadow: none;
  text-shadow: none;
  border: none;
  border-bottom: 1px solid #e2e2e2;
  font-weight: 500;
  border-radius: 0px;
  padding: 0;
}
.enroll-form button {
  background: #000;
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  margin-top: 25px;
  margin-bottom: 25px;
  color: #fff;
}
button {
  border: 1px solid green !important;
}